body{
    background: linear-gradient(to right,#19171b, #111a29);
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, .title {
    font-family: 'Orbitron', Arial, sans-serif;
}

.top-header{
    padding: 20px 50px;
    
}

.menu-top{
    display: flex;
    justify-content: center;
    position: relative;
    left: 75px;
    gap: 40px;

    margin-bottom: 35px;
}

.menu-top a{
    color: #d8d8d8;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.menu-top a:hover{
    color: white;
}

.platform-bar{
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 15px;

    width: 100%;
}

.platforms{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 35px;

    width: fit-content;

    padding: 0 35px;

    height: 78px;

    background: rgba(10,10,10,0.85);

    border-radius: 50px;

    margin: 0 auto;
}

.platforms:hover{
    transform: translateY(-2px);

    box-shadow:
    0 0 30px rgba(0,50,255,0.15);
}

.platforms a{
    color: white;
    text-decoration: none;

    display: flex;
    align-items: center;

    gap: 8px;

    font-size: 18px;
    font-weight: 500;

    transition: 0.3s;
}

.platforms a:hover{
    color: #3b82f6;

    transform: scale(1.05);
}

.platforms i{
    font-size: 20px;
}


.login{
    image-rendering: pixelated; /*essa bomba é pixel art, entao precisa disso pra pagina nao tentar suavizar o desenho, pois acaba ficando com um aspecto borrado */
    image-rendering: crisp-edges;
    color: white;
    height: 75px;
    width: 75px;

    position: relative;
    left: 400px; /* ajusta a posição */
    bottom: 10px;

    background: linear-gradient(to right, #19171b, #003e91);
    border: none;
    border-radius: 50%;

    cursor: pointer;

    transition: 0.3s;
    
}

.login:hover{
    transform: scale(1.05);
}

/* tela de login */
.container{
    display: none; /* começa escondida */
    position: fixed;
    width: 400px;
    height: 375px;
    top: 50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%, -50%);
    background: linear-gradient(to top, #19171b, #003e91);
    backdrop-filter: blur(10px);
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    justify-content: center;
}

.container h1{
    text-align: center;

}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 75%;
    height: 30%;
    background-color:rgba(70, 70, 70, 0.658);;
    border: 2px solid rgba(255, 255, 255, .2);; 
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box:hover{
    transform: scale(1.05);
}

.vai{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.vai:hover{
    transform: scale(1.05);
}

.fecha{
    background-color: transparent;
    border: 2px solid #072661;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
        
}

.fecha:hover{
    transform: scale(1.05);
    box-shadow:
    0 0 25px #072661;
    border-color:#072661;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #fff;
}

.remember-forgot a {
    text-decoration: none;
    color: #fff;
}

.remember-forgot a:hover {
    text-decoration: underline;
        
}

.register-link{
    text-align: center;
}

.register-link a {
    text-decoration: none;
    color: #fff;
}

.register-link a:hover {
    text-decoration: underline;
}

.input-box input::placeholder{
     color: #fff;
}
    
.login:hover{
    transform: scale(1.05);
}

.catalogos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 40px;
}

.jogo{
    width: 320px;
    background: linear-gradient(to right,  #19192e, #0d0d11);
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
}

.jogo:hover{
    transform: scale(1.05);
}

.item{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.information{
    padding: 18px;
}

.title{
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

.price{
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}

.titulocatalogo{
    display: none;
}

.search-box{
    width: 420px;
    height: 78px;
    background: linear-gradient(
    135deg,
    #0a2f6d,
    #001233);
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    gap: 15px;
    border: 2px solid transparent;
    transition:
    transform 0.35s ease,
    box-shadow 0.35s ease,
    border-color 0.35s ease,
    background 0.35s ease;
    box-shadow:
    0 0 15px rgba(0, 60, 255, 0.15);
}

.search-box:hover{
    transform: translateY(-3px) scale(1.02);
    box-shadow:
    0 0 25px rgba(0, 89, 255, 0.35);
    border-color:
    rgba(0, 132, 255, 0.35);
}

.search-box:focus-within{

    transform: scale(1.03);

    background: linear-gradient(
    135deg,
    #1147a8,
    #001b4d);
    border-color:
    rgba(0, 174, 255, 0.8);
    box-shadow:
    0 0 35px rgba(0, 140, 255, 0.6);
}

.search-icon{
    font-size: 24px;
    transition: 0.3s;
}

.search-box:focus-within .search-icon{
    transform: rotate(-10deg) scale(1.15);
}

.search-input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}

.search-input::placeholder{
    color: rgba(255,255,255,0.6);
    transition: 0.3s;
}

.search-input:focus::placeholder{
    opacity: 0.3;
}

.rodape {
    width: 100%;
    margin-top: 40px;
    padding: 30px 20px;
    box-sizing: border-box;
    background: #0d0d11;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    border-top: 2px solid #ffffff;
}

.curriculos {
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    text-align: center;
}