body{
    background: linear-gradient(to right,#19171b, #111a29);
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.top-header{
    padding: 20px 50px;
}

/* MENU SUPERIOR */
.menu-top{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 25px;
}

.menu-top a{
    color: #d8d8d8;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.menu-top a:hover{
    color: white;
}

/* BARRA DAS PLATAFORMAS */
.platform-bar{
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #041642, #19171b);
    border-radius: 50px;
    padding: 10px 10px 10px 30px;
    width: fit-content;
    margin: 0 auto;
    gap: 40px;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.platforms{
    display: flex;
    align-items: center;
    gap: 40px;
}

.platforms a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    transition: 0.3s;
}

.platforms a:hover{
    color: #003e91;
}

/* BOTAO PESQUISA */
.search-btn{
    width: 78px;
    height: 78px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(to right, #19171b, #003e91);
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.search-btn:hover{
    transform: scale(1.05);
}


.login{
    image-rendering: pixelated; /*essa bomba é pixel art, entao precisa disso pra pagina nao tentar suavizar o desenho, pois acaba ficando com um aspecto borrado */
    image-rendering: crisp-edges;

    height: 75px;
    width: 75px;

    position: relative;
    left: 400px; /* ajusta a posição */
    bottom: 10px;

    background: linear-gradient(to right, #19171b, #003e91);
    border: none;
    border-radius: 50%;

    cursor: pointer;

    transition: 0.3s;
    
}

.login:hover{
    transform: scale(1.05);
}

/* tela de login */
.container{
    display: none; /* começa escondida */
    position: fixed;
    width: 400px;
    height: 375px;
    top: 50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%, -50%);
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    justify-content: center;
}

.container h1{
    text-align: center;

}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 75%;
    height: 30%;
    background-color:rgba(70, 70, 70, 0.658);;
    border: 2px solid rgba(255, 255, 255, .2);; 
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box:hover{
    transform: scale(1.05);
}

.vai{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.vai:hover{
    transform: scale(1.05);
}

.fecha{
    background-color: transparent;
    border: 2px solid rgba(216, 7, 7, 0.514);; 
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
        
        
}

.fecha:hover{
    transform: scale(1.05);
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #fff;
}

.remember-forgot a {
    text-decoration: none;
    color: #fff;
}

.remember-forgot a:hover {
    text-decoration: underline;
        
}

.register-link{
    text-align: center;
}

.register-link a {
    text-decoration: none;
    color: #fff;
}

.register-link a:hover {
    text-decoration: underline;
}

.input-box input::placeholder{
     color: #fff;
}
    
.login:hover{
    transform: scale(1.05);
}

/* CATALOGO */
.catalogos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 40px;
}

/* CARD */
.jogo{
    width: 320px;
    background: linear-gradient(to right,  #19192e, #0d0d11);
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
}

.jogo:hover{
    transform: scale(1.05);
}

/* IMAGEM */
.item{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

/* INFO */
.information{
    padding: 18px;
}

.title{
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

.price{
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}

.catalogos h1{
    display: none;
}